     <br><br>
     <h2>Pendidikan </h2>
     <table class="table">
   <thead class="thead-light">
     <tr>
       <th scope="col">#</th>
       <th scope="col">Jenjang Pendidikan</th>
       <th scope="col">Sekolah/Univ</th>
       <th scope="col">Thn Lulus</th>
     </tr>
   </thead>
   <tbody>
     
     <tr>
       <th scope="row">1</th>
       <td>SD/Mi</td>
       <td>SDN Babat Jerawat 1</td>
       <td>2011</td>
     </tr>
     <tr>
       <th scope="row">2</th>
       <td>SMP/MTs</td>
       <td>SMPN 14 Surabaya</td>
       <td>2014</td>
     </tr> 
     <tr>
       <th scope="row">3</th>
       <td>SMA/Ma/SMK</td>
       <td>SMK Antartika Surabaya</td>
       <td>2017</td>
     </tr>  
 
   </tbody>
 </table>