<!-- <p>biodata works!</p> -->
  <div class="card-deck mb-3 text-center">
      <div class="card mb-4 shadow-sm">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal">Biodata</h4>
        </div>
        <div class="card-body">
           
          <h3 class="card-title pricing-card-title"><small class="text-muted">Nama :  </small>Afrizal Muhammad Yasin</h3>
          <h3 class="card-title pricing-card-title"><small class="text-muted">Umur :  </small>21</h3>
          <h3 class="card-title pricing-card-title"><small class="text-muted">Alamat:  </small>Pondok Benowo Indah, Surabaya</h3>
          <h3 class="card-title pricing-card-title"><small class="text-muted">Email :  </small>me@afrizalmy.com</h3>
          
        </div>
      </div>   
    </div>
  
    <app-pendidikan></app-pendidikan>
